django_credenciados/media/
django_credenciados/static/
nginx/
django_credenciados/venv/
django_credenciados/.env
django_credenciados/db.sqlite3
docker-compose.*
Dockerfile
env-example
LICENSE
README.md
.dockerignore
.editorconfig
.git
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
*.pyc
__pycache__
.idea
*.DS_Store

*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
dist
docs
env
logs
stats
__localcode/
