<div
  class="container py-1 text-muted d-flex text-center align-items-center justify-content-center border-top mt-3"
>
  <p>
    FUNSA - GSAU-YS / Setor de Credenciamento<br />
    <i class="fas fa-phone"></i> Telefone: (19) 3565-7367 -
    <i class="far fa-envelope"></i> E-mail:
    <a
      href="mailto:credenciamento.funsa.gsauys@fab.mil.br?subject=Contato pelo Site"
      style="text-decoration: none"
      class="text-muted"
      >credenciamento.funsa.gsauys@fab.mil.br</a
    >
  </p>
</div>
